[Desktop Entry]
Version=1.0
Type=Application
Name=Архивный топографический указатель 2.0
Comment=
Exec=TPointer
Icon=tpointer
Terminal=false
StartupNotify=false
Categories=Office;